#paragraphFont{
  font-family: Arial, sans-serif;
}
#aboutButton{
  background-color: white;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  position: absolute;
  top: 28px;
  left: 400px;
}
#aboutButton:hover{
  color: blue;
}
#aboutMeFont{
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 36px;
  left: 500px;
}
#skillsFont {
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 30px;
}
#educationFont{
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 30px;
}
#skillsButton{
  background-color: white;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  position: absolute;
  top: 28px;
  left: 450px;
}
#educationButton{
  background-color: white;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  position: absolute;
  top: 28px;
  left: 500px;
}
#educationButton:hover{
  color: blue;
}
#skillsButton:hover{
  color: blue;
}
#nameFont {
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: blue;
}
#fontSkills{
  font-size: 30px;
  line-height: 1.6
}

#contactFont{
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 30px;
}
#projectFont{
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 30px;
}
#fontSkills{
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 1.6
}
#educationFont1{
  font-family: Arial, sans-serif;
}
.linkedinImage{
  transition: all 0.4s;
  position:absolute;
  left:360px;
  top:2940px;
}
.linkedinImage:hover{
  transform: scale(1.2);
}
#aboutMeParagraphFont{
  font-size: 20px;
  line-height: 1.6
}
#educationFont1{
  font-size: 20px;
  line-height: 1.6;
  color: rgb(4, 1, 1);
}
#educationFontExpectedGrad{
  font-size: 20px;
  line-height: 1.6;
  color: grey;
}
#experienceFont{
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 36px;
}
#experienceSentenceFont{
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 36px;
}
#educationFontBlue{
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 1.6;
  color: blue;
  font-weight: bold;
}
ul {
  margin-left: 400px;   /* Pushes the entire list further to the right */
  margin-top: 1525px;    /* Pushes the entire list downward */
  line-height: 2.9;
}




